* {
	box-sizing: border-box;
}

body {
	background-color: #333;
	padding: 0;
	margin: 0;
	overflow: hidden;
}

.game-container {
	position: relative;
	width: 352px;
	height: 198px;

	margin: 0 auto;
	margin-top: 2rem;

	outline: 1px solid white;
	
}
